@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary: 233, 67%, 56%;
  --primary-foreground: 0 0% 100%;

  --secondary: 28, 100%, 52%;
  --secondary-foreground: 0 0% 100%;

  --muted: 210 40% 96%;
  --muted-foreground: 215 16% 47%;

  /* Color */
  --orange-500: 28, 100%, 52%;
  --blue-500: 233, 67%, 56%;
  --blue-700: 248, 70%, 36%;
  --neutral-0: 0, 0%, 100%;
  --neutral-100: 0, 0%, 100%;
  --neutral-200: 250, 6%, 84%;
  --neutral-300: 240, 6%, 70%;
  --neutral-600: 243, 23%, 30%;
  --neutral-700: 243, 23%, 24%;
  --neutral-800: 243, 27%, 20%;
  --neutral-900: 243, 96%, 9%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: hsl(var(--neutral-900));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: 243, 27%, 20%;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #302F4A;
  border-radius: 9999px;
  border: 1px solid #3C3B5E;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #302F4A;
}

